* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sectionLinks {
    display: flex;
    align-items: center;
}

#lodoDoSite {

}

#imgLogoSite {
    width: 140px;
}

.myLinksPrimarios {
    font-size: 15px;
    margin-right: 45px;
    text-decoration: none;
    color: black;
}

.material-icons {
    font-size: 28px;
    color: red;
    margin-right: 34px;
    background-color: black;
    width: 47px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}