* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D3D3D3;
}

#sectionLinks {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #lodoDoSite {

} */

#imgLogoSite {
    width: 140px;
}

.myLinksPrimarios {
    font-size: 15px;
    margin-right: 45px;
    text-decoration: none;
    color: black;
}

.material-icons {
    font-size: 26px;
    color: black;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.material-icons:hover {
    background-color: red;
}

#sectionTextos {
    margin-top: 100px;
    margin-bottom: 121px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1 {
    font-size: 45px;
    color: grey;
    width: 44%;
    display: inline-block;
}

strong {
    color: black;
    font-size: 45px;
}

#divImagens {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#divImagens aside {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#myFirstImages,
#myTextos {
    display: inline-block;
}

.character {
    width: 50px;
    border-radius: 20px;
    border: 4px solid black;
}

/* #myFirstImages img  {
    position: absolute;
} */

#myTextos {
    margin-left: 10px;
}

#myTextos p,
.link {
    font-size: 17px;
    text-decoration: none;
}

#myTextos a {
    color: blue;
    cursor: grab;
}

#maps {
    display: inline-block;
    width: 50px;
    border-radius: 20px;
    border: 4px solid black;
}

#myTexts2 {
    display: inline-block;
    margin-left: 10px;
}

#myTexts2 .link {
    color: blue;
    cursor: grab;
}

main {
    display: block;
}

#sessãoDeImagens {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#sessãoDeImagens div {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 29px;
    padding: 0 20px 0 20px;
    margin-bottom: 50px;
}

#sessãoDeImagens .linksDeConhecimento {
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
    color: blue;
}

.seta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 15px;
    background-color: rgb(255, 255, 255, 0.5);
}

.setaEsquerda {
    left: 0;
}

.setaDireita {
    right: 0;
}

#elementos {
    display: block;
    width: 100%;
    position: relative;
}


#divH2 {
    display: block;
}

#divH2 h2 {
    font-size: 35px;
    color: #000000;
    font-style: italic;
    margin-bottom: 31px;
}

#divH2 span {
    color: #696969;
    font-size: 37px;
}

#elementos main {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    position: absolute;
}

#elementos #iphone15,
#appleWatch,
#macBook,
#ofertas,
#acessorios {
    display: inline-block;
    margin-right: 120px;
}

.myMenu {
    width: 430px;
    height: 465px;
    border-radius: 29px;
    background-color: black;
}

.myMenu div {
    position: relative;
    top: 50px;
    margin-left: 31px;
    line-height: 42px;
}

.myMenu p,
span {
    font-size: 22px;
    color: #ffffff;
    font-weight: 600;
}

.myMenu img {
    width: 430px;
    height: 465px;
    border-radius: 44px;
}

#ofertas, #macBook {
    background-color: #ffffff;
}

#ofertas, #macBook p, span {
    color: black;
}

#imgOferta {
    width: 430px;
    height: 456px;
}

#text {
    width: 150px;
}