* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sectionLinks {
    display: flex;
    align-items: center;
}

#lodoDoSite {

}

#imgLogoSite {
    width: 140px;
}

.myLinksPrimarios {

}

.material-icons {

}