* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D3D3D3;
}

#sectionLinks {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #lodoDoSite {

} */

#imgLogoSite {
    width: 140px;
}

.myLinksPrimarios {
    font-size: 15px;
    margin-right: 45px;
    text-decoration: none;
    color: black;
}

.material-icons {
    font-size: 26px;
    color: black;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.material-icons:hover {
    background-color: red;
}

#sectionTextos {
    margin-top: 100px;
    margin-bottom: 121px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1 {
    font-size: 45px;
    color: grey;
    width: 44%;
    display: inline-block;
}

strong {
    color: black;
    font-size: 45px;
}

#divImagens {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#divImagens aside {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#myFirstImages,
#myTextos {
    display: inline-block;
}

.character {
    width: 50px;
    border-radius: 20px;
    border: 4px solid black;
}

/* #myFirstImages img  {
    position: absolute;
} */

#myTextos {
    margin-left: 10px;
}

#myTextos p,
.link {
    font-size: 17px;
    text-decoration: none;
}

#myTextos a {
    color: blue;
    cursor: grab;
}

#maps {
    display: inline-block;
    width: 50px;
    border-radius: 20px;
    border: 4px solid black;
}

#myTexts2 {
    display: inline-block;
    margin-left: 10px;
}

#myTexts2 .link {
    color: blue;
    cursor: grab;
}

main {
    display: block;
}

#sessãoDeImagens {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#sessãoDeImagens div {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 29px;
    padding: 0 20px 0 20px;
    margin-bottom: 50px;
}

#sessãoDeImagens .linksDeConhecimento {
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
    color: blue;
}

.seta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 15px;
    background-color: rgb(255, 255, 255, 0.5);
}

.setaEsquerda {
    left: 0;
}

.setaDireita {
    right: 0;
}

#mainElementos {
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 60px;
}

#mainElementos .myMenu{
    display: inline-block;
    border-radius: 54px;
}

#iphone15 {
    background-color: #000000;
    width: auto;
    height: auto;
}

#filha {
    width: 280px;
    padding: 35px;
}

.colors {
    font-size: 20px;
    color: #ffffff;
}

.imagesColors {
    width: 422px;
    padding-left: 23px;
    padding-right: 23px;
}